manager:
    build: manager
    hostname: manager # has to be set so that the agent can fetch parcels, else it tries to use the default hostname which does not resolve
    environment:
        - CMF_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 # XXX does CMF_SERVER_ARGS work
    ports:
        - "7180:7180"
    links:
        - db
    volumes:
        - parcel-repo:/opt/cloudera/parcel-repo

db:
    image: postgres:9.4
    environment:
        - POSTGRES_PASSWORD=postgres

agent:
    build: agent
    hostname: agent0 # docker-generated hostnames sometimes start with a digit, trigger <https://issues.cloudera.org/browse/DISTRO-638>
    links:
        - manager
